{% extends 'base.html' %}
{% block title %}
    Categories
{% endblock %}
{% block content %}
    <div class="row">

        <br>
        {% for category in categories %}
            <div class="row">

                <div class="col-md-10 col-sm-9">
                    <h3>{{ category.title | safe }} </h3>

                    <small style="font-family:courier,'new courier';" class="text-muted">
                        Published on : {{ category.created_date }}
                    </small>
                    </h4>
                    <div class="col-xs-3">
                        <a href="{{ category.get_absolute_url }}" class="btn btn-primary pull-right btnNext">More <i
                                class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}