{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}

    <div class="col-md-10 col-sm-9">
        <img src="{{ post.photo.url }}" class="img-responsive"/>

        <div class="lead">
            <h3>{{ post.title | safe }} </h3>
        </div>
        <h4>{{ post.lead | safe }}</h4>

        <div class="col-xs-12">
            <h4>
                <span class="label label-default">
                    <a href="{{ post.category.get_absolute_url }}">
                        {{ post.category }}
                    </a>
                </span>
            </h4>
        </div>
        <div class="col-xs-12">
            {{ post.content }}
        </div>
        <div class="col-md-12">
            {% for author in post.get_authors %}
                <div class="col-md-4">
                    <a href="{{ author.get_absolute_url }}">
                        {% thumbnail author.photo "100x100" crop="center" as photo %}
                            <img src="{{ photo.url }}" width="{{ photo.url }}" height="{{ photo.url }}"
                                 class="img-container img-circle">
                        {% endthumbnail %}
                        <h4>{{ author.get_full_name }}</h4>
                    </a>
                </div>

            {% endfor %}

        </div>

        <div class="col-xs-3 pull-right">
            <small style="font-family:courier,'new courier';" class="text-muted">
                Published on : {{ post.created_date }}
            </small>
        </div>
    </div>
{% endblock %}