{% load thumbnail %}
<style type="text/css">
</style>
<div class="row">
    <div class="col-md-3 col-sm-3 bordered">
        <a href="{{ post.get_absolute_url }}">
            {% thumbnail post.photo "270x170" crop="center" as photo %}
                <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" class="img-thumbnail">
            {% endthumbnail %}

        </a>
    </div>

    <div class="col-md-9 col-sm-9">
        <a href="{{ post.get_absolute_url }}">
            <h3>{{ post.title | safe }} </h3>
        </a>

        <div>
            <div class="col-m-12">
                <span class="label label-default">
                    <a href="{{ post.category.get_absolute_url }}">
                        {{ post.category }} - {{ post.category.get_post_count }}

                    </a>
                </span>
            </div>
            Authors :
            {% for author in post.authors.all %}
                <a class="" href="{{ author.get_absolute_url }}">
                    {{ author.first_name }} {{ author.last_name }} |
                </a>
            {% endfor %}

            <div class="col-md-12">
                <small style="font-family:courier,'new courier';" class="text-muted">
                    Published on : {{ post.created_date }}
                </small>
            </div>
            <div class="col-md-12">
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary pull-right btnNext">More <i
                        class="glyphicon glyphicon-chevron-right"></i></a>
            </div>

        </div>
        <br><br>
    </div>
</div>