{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    {{ author }}
{% endblock %}
{% block extrahead %}
    <style type="text/css">
        .lead {
            height: 45px !important;
        }

    </style>

{% endblock %}
{% block content %}

    <div class="col-md-12 col-sm-12">

        <img src="{{ author.photo.url }}" class="img-responsive"/>
        <p>Username : {{ request.user.is_authenticated }}</p>


        <div class="panel well">
            {% if author.user.username == requset.user.username %}
                <H2> Wellcome to your profile author.user.username !!!</h2>

            {% endif %}
            <div class="lead">
                <h3>{{ author.first_name }} {{ author.last_name }}</h3>
            </div>
            <h4>Email : {{ author.email }}</h4>

            <div class="col-m-12">
                <span class="label label-default">
                    Posts count : { { author.get_post_count }}
                </span>
            </div>
            {% for category in author.get_categories %}
                <div class="col-m-12">
                <span class="label label-default">
                    {{ category }}
                </span>
                </div>
            {% endfor %}

            <h6>Created On : {{ author.created_date }}</h6>
            <h6>Last Login : {{ author.user.last_login }}</h6>
        </div>
    </div>
    {% for post in author.posts.all %}
        {% include 'post/post_item_snippet.html' with post=post %}
    {% endfor %}

{% endblock %}