{% load thumbnail %}
<style type="text/css">
</style>
<div class="row">
    <div class="col-md-3 col-sm-3 ">
        <a href="{{ author.get_absolute_url }}">
            {% thumbnail author.photo "270x170" crop="center" as photo %}
                <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" class="img-thumbnail">
            {% endthumbnail %}

        </a>
    </div>

    <div class="col-md-9 col-sm-9">
        <a href="{{ author.get_absolute_url }}">
            <h2>{{ author.get_full_name }} </h2>
        </a>

        <div>
            List of Categories :
            {% for category in author.get_categories %}
                <div class="col-m-12">
                <span class="label label-default">
                    <a href="{{ category.get_absolute_url }}">
                        {{ category }}
                    </a>
                </span>
                </div>
            {% endfor %}

            <div class="col-m-12">
                <span class="label label-default">
                      Count of posts : {{ author.posts.count }}
                </span>
            </div>
            <div class="col-md-12">
                <small style="font-family:courier,'new courier';" class="text-muted">
                    Published on : {{ author.created_date }}
                </small>
            </div>
            <div class="col-md-12">
                <a href="{{ author.get_absolute_url }}" class="btn btn-primary pull-right btnNext">More <i
                        class="glyphicon glyphicon-chevron-right"></i></a>
            </div>

        </div>
        <br><br>
    </div>
</div>